nav img{
    width: 3%;
    border-radius: 50%;
}

.footer-icon a i{
    margin: 5px;
    border: 1pxz solid rgba(238, 232, 232, 0.982);
    border-radius: 50%;
    padding:6px;
    font-size: 35px;
    color: #fff;
}
.footer-icon a i:hover{
    color: #333;
    transition:.5s ;
}
.footer-icon{
    text-align: center;
    margin-top: 10px;
}
.card img{
    height: 250px;
    width: 100%;
    background-size: cover;
}

.blog-img img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article h2{
    text-decoration: underline;
    text-transform: uppercase;
}

.article{
    margin-left: 50px;
}
.article .link{
    margin-left: 50px;
}